@import "./reset.scss";
body {
    background: linear-gradient(to left, #000428, #004e92);
    color: #f8f8f8;
    display: flex;
    justify-content: center;
}

h1 {
    color: #f8f8f8;
    font-family: helvetica;
}

.list {
    padding: 200px;
    display: flex;
    flex-direction: row;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.item-desc {
    display: flex;
    justify-content: center;
    max-width: 300px;
}