@import "./showDiscr.scss";

body {
  background: linear-gradient(to left,#000428 ,#004e92);
  color: #f8f8f8;

}

h1 {
  color: #f8f8f8;
  font-family: helvetica;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-item {
  display: block;
  flex: 0 0 20%;
  max-width: 20%;
}
